body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

#authForm, #factionSelection, #gameButtons, #postGameOptions {
  display: none;
}

#authForm input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

canvas {
  border: 2px solid #fff;
  display: none;
}

.hidden {
  display: none !important;
}
